$primary-color: #444;
$secondary-color: #ff851b;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$portrait-image: url(../img/adam_portrait.jpg);
$portrait-image-small: url(../img/adam_portrait_small.jpg);
$project-img-1: url(../img/projects/project-1-min.jpg);
$project-img-2: url(../img/projects/project-2-min.jpg);
$project-img-3: url(../img/projects/project-3-min.jpg);
$project-img-4: url(../img/projects/project-4-min.jpg);
$project-img-5: url(../img/projects/project-5-min.jpg);
$background-opacity: 0.9;

@mixin easeOut {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image { 
    &.bg-img {
      background: $home-image no-repeat center center;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

/* Set Text Color */
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

/* Media Query Mixins */
@mixin atSmall {
  @media screen and (max-width: 530px) {
    @content;
  }
}

@mixin atMedium {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin atLarge {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin atExtraLarge {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
