.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;

  .menu-btn {
    position: fixed;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    &__line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: set-text-color($primary-color);
      @include easeOut;
    }

    /* Rotate into X with Menu Lines */
    &.menu--close {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);

      .menu-btn__line {
        // Line 1 - Rotate
        &:nth-child(1) {
          -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
        }

        // Line 2 Hide
        &:nth-child(2) {
          opacity: 0;
        }
        // Line 3 - Rotate
        &:nth-child(3) {
          -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
        }
      }
    }
  }
}

// Menu Overlay

.menu {
  position: absolute;
  top: 0;
  width: 100%;
  visibility: hidden;

  &__branding {
    background: rgba($primary-color, 0.9);
    @include easeOut;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);

    &.menu--show {
      /* Slide in from top */
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    .menu__portrait {
      width: 250px;
      height: 250px;
      background: $portrait-image no-repeat center center;
      background-attachment: fixed;
      background-size: cover;
      border-radius: 50%;
      border: solid 3px $secondary-color;
      @include easeOut;
      cursor: pointer;

      &:hover {
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
      }
    }
  }

  &--show {
    visibility: visible;
  }

  &__branding,
  &-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: rgba(darken($primary-color, 9), 0.95);
    list-style: none;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &__item {
      -webkit-transform: translate3d(800px, 0, 0);
      transform: translate3d(800px, 0, 0);
      @include easeOut;

      &.menu--show {
        /* Slide in from top */
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }

      .menu-nav__link {
        display: inline-block;
        position: relative;
        font-size: 1.5rem;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        color: set-text-color($primary-color);
        text-decoration: none;
        @include easeOut;

        &:hover {
          color: $secondary-color;
          @include easeOut;
        }
      }

      &.menu-nav--current > .menu-nav__link {
        color: $secondary-color;
      }
    }

    &.menu--show {
      /* Slide in from top */
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}

// Delay each nav item silde by 0.1s
@for $x from 1 through 4 {
  .menu-nav__item:nth-child(#{$x}) {
    -webkit-transition-delay: $x * 0.15s;
    transition-delay: $x * 0.15s;
  }
}
